<%- include('../partials/header') %>

<header class="jumbotron">
    <div class="container">
        <h1><span class="glyphicon glyphicon-tent"></span> Welcome To YelpCamp!</h1>
        <p>View our hand-picked campgrounds from all over the world</p>
        <p>
            <a class="btn btn-secondary btn-lg" href="/campgrounds/new">Add New Campground</a>
        </p>
        <p>
            <form action="/campgrounds" method="GET" class="form-inline" id="campground-search">
                <div class="form-group">
                    <input type="text" name="search" placeholder="Campground search..." class="form-control">
                </div>
            </form>
        </p>
    </div>
</header>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
    <% campgrounds.forEach((campground)=>{ %>
    <div class="col mb-4">
        <div class="card h-100 shadow-sm">
            <a href="/campgrounds/<%= campground._id %>">
                <img src="<%= campground.image %>" class="card-img-top" alt="...">
            </a>
            <div class="card-body d-flex flex-column">
                <h4 class="card-title"><%= campground.name %></h4>
                <%- include('../functions') %>
                <p class="card-text"><%= text_truncate(campground.description,100 ,"...") %></p>
                <a href="/campgrounds/<%= campground._id %>" class="btn btn-secondary mt-auto">More Info</a>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <small class="text-muted"><%= campground.author.username %></small>
                <small class="text-muted"><%=
                    moment(campground.createdAt).fromNow() %></small>
            </div>
        </div>
    </div>
    <% }); %>
</div>

<% if (pages > 0) { %>
<nav aria-label="Page navigation example">
    <ul class="pagination m-0 d-flex justify-content-center">
        <% if (current == 1) { %>
        <li class="page-item disabled">
            <a class="page-link bg-light" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <% } else { %>
        <li class="page-item">
            <a class="page-link text-secondary" href="/campgrounds/page-1" aria-label="Previous">
                <span>&laquo;</span>
            </a>
        </li>
        <% } %>
        <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
        <% if (i !== 1) { %>
        <% } %>
        <% for (; i <= (Number(current) + 2) && i <= pages; i++) { %>
        <% if (i == current) { %>

        <li class="page-item disabled">
            <a class="page-link bg-light" href="#" aria-label="Current" tabindex="-1" aria-disabled="true">
                <%= i %>
            </a>
        </li>
        <% } else { %>
        <li class="page-item"><a class="page-link text-secondary" href="/campgrounds/page-<%= i %>"><%= i %></a></li>
        <% } %>
        <% if (i == Number(current) + 2 && i < pages) { %>
        <% } %>
        <% } %>
        <% if (current == pages) { %>

        <li class="page-item disabled">
            <a class="page-link bg-light" href="#" aria-label="Next" tabindex="-1" aria-disabled="true">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <% } else { %>
        <li class="page-item">
            <a class="page-link text-secondary" href="/campgrounds/page-<%= pages %>" aria-label="Next">
                <span>&raquo;</span>
            </a>
        </li>
        <% } %>
    </ul>
</nav>

<% } %>





<%- include('../functions') %>
<%- include('../partials/footer') %>